{% extends "Base.html" %}

{% block title %}Додавання Завдання 🚀{% endblock %}

{% block content %}
    <h2 class="content-title pb-2 mb-4 border-bottom" style="border-color: var(--color-mint-accent) !important;">
        <span>➕</span> Додавання Нового Завдання
    </h2>

    <form method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                Помилка форми:
                {% for error in form.non_field_errors %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        {% for field in form %}
            <div class="mb-3"> 
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                
                {{ field }}
                
                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">
                        ⚠️ {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-lg mt-3" style="
            background-color: var(--color-mint-accent);
            color: var(--color-text);
            border-color: #81c784;
        ">Зберегти Завдання</button>
    </form>
{% endblock %}